
  <h4 class="text-center mt-4"><%= @article.title %></h4>
  <div class="container">
      <div class="row justify-content-md-center"> 
          <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                <% if %>
                    <i>By <%= link_to  @article.user.username  , user_path(@article.user)%></i>
                <% end %>   
                <%= link_to gravatar_for(@article.user),user_path(@article.user) %>
                <% if @article.categories.any? %>
                  <div class="mt-2">
                    <%= render @article.categories %>
                  </div>  
                <% end %>
              </div>
              <div class="card-body">
                <p class="card-text"><%= @article.description %></p>
                <%= image_tag @article.display_image if @article.image.attached? %> <br />
                 <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                 <div class="mt-4">
                  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
                  <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure? "}, class: "btn btn-outline-danger" %>
                </div>  
                <% end %> 
              </div>
                <div class="card-footer text-muted flex">
                <small> Created at: <%= time_ago_in_words(@article.created_at) %> ago ,
                Updated at:  <%= time_ago_in_words(@article.updated_at) %>ago </small>
                </div>
          </div>
        </div>  
      </div>
  </div>
