<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <ul>
  <% flash.each do |name, msg|%>
  <% if name == "success"%>
   <li class="green-flash"><%= msg %></li>
  <% else %>
  <li class="red-flash"><%= msg %></li>
  <% end %> 
  <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
